@model InventoryManagement.Database.Labels

@{
    ViewBag.Title = "Details";
}

<h4>Details</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LabelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabelName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LabelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
