@model InventoryManagement.Models.SchoolsItemsViewModel
@{
    ViewBag.Title = "ViewItems";
}

@if (Model.CheckedOutItems.Count == 0)
{
    <h4>Your School does not have any items checked out</h4>
    @Html.ActionLink("Back", "Index")
}
else
{
    <h4>Items currently checked out</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Item Name")
            </th>
        </tr>

        @for (int i = 0; i < Model.CheckedOutItems.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => model.CheckedOutItems[i].ItemType.ItemName)
                </td>
            </tr>
        }
    </table>
    @Html.ActionLink("Back", "Index")
}

